#hero{

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:var(--champagne);

}

.hero-content{

    max-width:900px;

}

.hero-subtitle{

    text-transform:uppercase;

    letter-spacing:4px;

    color:var(--antique-rose);

    margin-bottom:25px;

    font-size:.9rem;

}

.hero-title{

    color:var(--wine);

    line-height:1;

    margin-bottom:25px;

}

.hero-description{

    max-width:700px;

    margin:0 auto 40px;

    font-size:1.2rem;

    color:#5f5f5f;

}

.hero-btn{

    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:16px 40px;
    background:var(--wine);
    color:white;
    text-decoration:none;
    border-radius:50px;
    transition:all .3s ease;

    position:relative;
    z-index:999;
    min-height:56px;

}

.hero-btn:hover{

    background:var(--antique-rose);

    transform:translateY(-3px);

}

#hero{

    position:relative;

    overflow:hidden;

}

.hero-bri{

    position:absolute;

    right:-250px;

    bottom:0;

    width:270px;

    z-index:1;

    animation:
    floatBri 4s ease-in-out infinite;
    pointer-events:none;

}

.hero-content{

    position:relative;

    z-index:2;

}

@keyframes floatBri{

    0%,100%{

        transform:
        translateY(-10px);

    }

    50%{

        transform:
        translateY(10px);

    }

}

/* =========================
   RESPONSIVE HERO
========================= */

@media (max-width:768px){

    .hero-bri{

        width:170px;

        right:-40px;

        opacity:.35;

    }

    .hero-title{

        font-size:3rem;

        line-height:1.1;

    }

    .hero-description{

        font-size:1.05rem;

        max-width:100%;

    }

}

@media (max-width:480px){

    .hero-bri{

        width:150px;

        right:-30px;

        opacity:.25;

    }

    .hero-title{

        font-size:2.4rem;

    }

}